NEXT_PUBLIC_SUPABASE_URL=https://liyqnjsphrqudkgxhcup.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_qXIIKm553C-3WkxTaT5gXA_v5XWHOw4

# BancoAsset — apenas server-side (API routes). Nunca use NEXT_PUBLIC_ aqui.
SUPABASE_ASSET_URL=https://esatwwtivwgdgyietxbt.supabase.co
SUPABASE_ASSET_SERVICE_KEY=